# Ignore the massive 27 GB zip archive
AUTOREEL.AI.zip

# Ignore local environment config
.vscode/
graphify-out/
Project_Report.md

# Ignore sensitive secrets
AUTOREEL.AI/autoreel-ai/backend/config/client_secret.json
AUTOREEL.AI/autoreel-ai/backend/config/youtube.oauth.json
AUTOREEL.AI/autoreel-ai/update_keys.js
AUTOREEL.AI/autoreel-ai/.env
AUTOREEL.AI/autoreel-ai/backend/.env
